html{
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container{
    /* border: 1px solid #444444; */
    padding: 30px;
    margin: 30px;
    display: flex;
}

.card{
    background-color:  white;
    color: #666666;
    border: 1px solid #666666;
    padding: 30px 30px 15px 30px;
    flex:1; 
    margin-right: 3em;

}   


.card-title{
    padding: 0 0 30 ; 
    color: #e76c67;
    font-weight: 700;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    flex-direction:   row-reverse;   
    color: #e76c67;
}
/* .card-like{
    padding: 0 0 15 ; 
} */

.card-description{
    padding: 0 0 10; 
}

.card-author{  
    display: flex;
    /* justify-content: space-between; */
    flex-direction:   row-reverse;
    padding: 0 0 30; 
}